export cmd="/home/mehran/.venv313/bin/ogs -m /home/mehran/Desktop/OGS_Course_2026/01_Tunnel_Excavation_Kirsch/input_meshes_quadratic /home/mehran/Desktop/OGS_Course_2026/01_Tunnel_Excavation_Kirsch/_prj/kirsch_standard.prj"
