export cmd="/home/mehran/.venvs/ogs312/bin/ogs -m /home/mehran/Desktop/OGS_Training-Course_KCH/Tunnel_Excavation_Kirsch/_out/Mesh/Entire /home/mehran/Desktop/OGS_Training-Course_KCH/Tunnel_Excavation_Kirsch/_prj/kirsch_element_deactivation.prj"
