export cmd="/home/mehran/.venv313/bin/ogs -m /home/mehran/Desktop/OGS_Course_2026/01_Tunnel_Excavation_Kirsch/_out/Mesh/Entire /home/mehran/Desktop/OGS_Course_2026/01_Tunnel_Excavation_Kirsch/_prj/kirsch_element_deactivation.prj"
